footer.footer
  .container
    .footer-content
      .footer-content_item
        h2.title Mapa do site
        ul.grid-mapa
          each val in ['Home', 'Conta', 'Investir', 'Termos', 'Serviços', 'Contato',]
            li= val
            
      .footer-content_item
        h2.title Redes Sociais
        .grid-redes-sociais
          a(href="")
            img(src=urlImg + 'facebook.svg', alt="")
          a(href="")
            img(src=urlImg + 'instagram.svg', alt="")
          a(href="")
            img(src=urlImg + 'twitter.svg', alt="")
          a(href="")
            img(src=urlImg + 'youtube.svg', alt="")

      .footer-content_item
        h2.title Sobre
        p A little invest é uma empresa de investimentos criada para facilitar a vida de investidores. Com ela você investe rapidamente o seu dinheiro.

  .footer-copyright
    p Little Invest 2000 - 2018 - Todos os direitos reservados